* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
}
body {
    /*background-color: black;*/
    display: flex;
}    
h1 {
    font-size: larger;
}
h1,
.form,
.footer {
    margin-left: 5%;
}
.header {
    margin-bottom: 3rem;
}
.hero {
    margin-top: 20%;
    margin-right: 5%;
    max-width: 55ch;
}
.splash-box,
.content-box {
    height: 100vh;
}
.splash-box {
    background-image: url(splash.avif);
    background-size: cover;
    width: 50rem;
    flex: 1;
    position: relative;
}
.logo-box {
    background-color: rgb(7 7 7 / 0.5);
    height: 100px;
    width: 100%;
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
}
.logo {
    
    height: inherit;

}
.splash {
    height: 100%;
    width: 100%;
}
.content-box {
    flex: 2;
    background-color: white;
}
.form-box {
    padding-top: 1rem;
    padding-bottom: 2rem;
    box-shadow: 5px 1px 5px;
    margin-bottom: 1.5rem;
}
.form {
    width: min(40rem,75%);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.field {
    margin-right: 30px;
}
label {
    display: block;
}
button {
    background-color: #596D48;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 2px 3px;
}
input {
    appearance: none;
    border: 1px solid #E5E7EB;
    height: 25px;
    border-radius: 5px;
}
input:focus {
    width: auto;
    outline: none;
    appearance: none;
    border: 2px solid rgb(110, 110, 212);
    margin-right: -2px;
    box-shadow: 1px 1px 1px gray;
}
input:invalid{
    border: 2px solid red;
    margin-right: -2px;
}
.log-in {
    font-size: small;
}