* {
    box-sizing: border-box;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
}
h1 {
    font-size: large;
}
h1,
.form,
.footer {
    margin-left: 5%;
}
.header {
    margin-bottom: 3rem;
}
.hero {
    margin-top: 20%;
    margin-right: 5%;
}
.wrapper {
    position: absolute;
    display: flex;
    background-color: white;
    height: min(968px, 73%);
    width: min(1300px, 100%);
    margin: 128px 0;
}
.splash-box {
    width: 50rem;
}
.splash {
    height: 100%;
    width: 100%;
}
.form-box {
    padding-top: 5px;
    padding-bottom: 20px;
    box-shadow: 5px 1px 5px;
    margin-bottom: 20px;
}
.form {
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.field {
    margin-right: 30px;
}
label {
    display: block;
}
button {
    background-color: #596D48;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 2px 3px;
}
input {
    appearance: none;
    border: 1px solid #E5E7EB;
    height: 25px;
    border-radius: 5px;
}
input:focus {
    width: auto;
    outline: none;
    appearance: none;
    border: 2px solid rgb(110, 110, 212);
    margin-right: -2px;
    box-shadow: 1px 1px 1px gray;
}
input:invalid{
    border: 2px solid red;
    margin-right: -2px;
}
.log-in {
    font-size: small;
}